
<div id="add-module" class="container">
  <div [hidden]="hasSubmit">

  <h3>添加模块</h3>

  <form class="form-horizontal" #moduleForm="ngForm"  (ngSubmit)='onSubmit($event)'  >
    <div class="form-group">
      <label for="moduleName" class="col-sm-3 control-label">模块名称</label>
      <div class="col-sm-5">
        <input  type="text" required class="form-control" id="moduleName" [(ngModel)]="moduleName" name="fcModuleName" #fcModuleName="ngModel" >
      </div>
      <span class="err-tip" [hidden]="!hasDummyModuleName">请指定模块名称</span>
      <span class="err-tip" [hidden]="!hasRepeatModuleName">模块名称不能重复</span>
    </div>
    <div class="form-group">
      <label for="moduleIndex" class="col-sm-3 control-label">模块序号</label>
      <div class="col-sm-5">
        <input type="number" required class="form-control" id="moduleIndex" [(ngModel)]="moduleIndex" name="fcModuleIndex" #fcModuleIndex="ngModel" >
      </div>
      <span class="err-tip" [hidden]="!hasDummyModuleIndex">请指定模块序号</span>
      <span class="err-tip" [hidden]="!hasRepeatModuleIndex">请指定模块序号</span>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="submit" class="btn btn-default">添加模块</button>
      </div>
    </div>

  </form>
  </div>

  <div [hidden]="!hasSubmit">
    <h3>已添加模块</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-2">模块名称</div>
        <div class="col-md-3">{{moduleName}}</div>
      </div>
      <div class="row">
        <div class="col-md-2">模块序号</div>
        <div class="col-md-3">{{moduleIndex}}</div>
      </div>
    </div>

    <button id="add-more" (click)="addMore()" class="btn btn-primary btn-sms">继续添加</button>

  </div>
</div>
