#add-module{
  width: 100%;
}

.err-tip{
  color: red;
  font-size: 80%;
  position: relative;
  top: 20px;
}

#add-module h3{
  margin-left: 180px;
  margin-top: 25px;
  margin-bottom: 20px;
}

#add-more{
  margin-left: 150px;
  margin-top: 30px;
}
