
<div id='manage-news'>
  <table class='table'>
    <thead>
    <tr >
      <th  *ngFor="let item of header"  class={{item.classPros}} >{{item.name}}</th>
    </tr>
    </thead>
    <tbody>

    <tr (click)="handleClick($event)"  *ngFor="let item of newsList">
      <td class='index'>1</td>
      <td class='title'><span>{{item.title}}</span></td>
      <td class='module'>{{item.module}}</td>
      <td class='author'>{{item.author}}</td>
      <td class='time'>{{item.time}}</td>
      <td class='times'>{{item.visitTime}}</td>
      <td [id]="item.newsId" class='operate'  >
        <button  class='btn btn-default btn-sm'>修改</button>
        <button  class='btn btn-default btn-sm'>删除</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
