
<div (click)="handleClick($event)" id='manage-module'>
  <h3>管理界面</h3>
  <div   class='container'>
    <div id='header-title'  class='row'>
      <div class='col-md-2'>
        <span>名称</span>
      </div>
      <div class='col-md-2'>
        <span>序号</span>
      </div>
      <div class='col-md-4'>
        <span>操作</span>
      </div>
    </div>

    <div *ngFor="let item of moduleList"  class='row'>
      <div class='col-md-2'>
        <span *ngIf="!(reviseItemId&&reviseItemId==item.moduleId)">{{item.moduleName}}</span>
        <input  *ngIf="reviseItemId&&reviseItemId==item.moduleId" type="text" [(ngModel)]="moduleName">
      </div>
      <div class='col-md-2'>
        <span  *ngIf="!(reviseItemId&&reviseItemId==item.moduleId)"  >{{item.moduleIndex}}</span>
        <input   *ngIf="reviseItemId&&reviseItemId==item.moduleId" type="text" [(ngModel)]="moduleIndex">
      </div>
      <div [id]="item.moduleId" class='col-md-4'>

        <button *ngIf="!(reviseItemId&&reviseItemId==item.moduleId)" class='btn btn-default btn-sm'>修改</button>
        <button *ngIf="reviseItemId&&reviseItemId==item.moduleId" class='btn btn-default btn-sm'>保存</button>
        <button class='btn btn-default btn-sm'>冻结</button>
        <button class='btn btn-default btn-sm'>删除</button>
      </div>
    </div>

  </div>
</div>
